<!-- see layout.html for the rest of the layout -->
{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    Ellie has arrived
    <p>
        {% for post in posts %}
            <!-- https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/article.html -->
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
    </p>
{% endblock content %}

